body{
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
  background:#0f172a;
  color:white;
  overflow-x: hidden;
}
.animatedBg{
  display:flex;
  justify-content:center;
  align-items:center;
  min-height:100vh;
  min-width: 100vw;
 }
.msg{
  width: 800px;
    background:#1e293b;
  border-radius:12px;
  padding:25px;
  box-shadow:0 10px 30px rgba(0,0,0,0.4);
}

.inp{
  display:flex;
  gap:10px;
  margin-bottom:20px;
}

.tex{
  flex:1;
  padding:12px;
  border:none;
  outline:none;
  border-radius:8px;
  background:#334155;
  color:white;
  font-size:16px;
}

.btn{
  background:#38bdf8;
  padding:10px 18px;
  border-radius:8px;
  cursor:pointer;
  font-weight:bold;
}

.btn:hover{
  background:#0ea5e9;
}

.sen{
  display:flex;
  flex-direction:column;
  gap:15px;
}

.categoryCard{
  background:#334155;
  padding:15px;
  border-radius:10px;
}

.categoryCard h2{
  margin:0;
  color:#38bdf8;
}

.categoryCard h3{
  margin:5px 0 10px 0;
  color:#cbd5f5;
}

.tag{
  display:inline-block;
  background:#475569;
  padding:6px 10px;
  border-radius:6px;
  margin:4px;
  font-size:14px;
}

.deleteBtn{
  margin-top:10px;
  background:#ef4444;
  padding:6px 10px;
  width:70px;
  text-align:center;
  border-radius:6px;
  cursor:pointer;
}

.deleteBtn:hover{
  background:#dc2626;
}